<h1>Welcome to the League of Teams!</h1>

<h3>Teams:</h3>

<% if @teams.any? %>
  <ul>
    <% @teams.each do |team| %>
      <li>
        <a href="/teams/<%= team.id %>"><%= team.name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no teams saved yet.</p>
<% end %>

<form class="" action="/" method="post">
  <h4>Add a team to the league</h4>
  <div class="form-group">
    <label for="name">Team Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="coach">Team Coach</label>
    <input type="text" name="coach" class="form-control">
  </div>
  <button type="submit" class="btn">Create Team</button>
</form>
