<!DOCTYPE html>
<html>
  <head>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Team League</title>
  </head>
  <body>
    <a href="/">Return to the homepage at anytime by clicking here.</a>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
