<% if @player %>
  <h1>Edit Player</h1>
  <form class="" action="/players/<%= @player.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" value="<%= @player.name %>">
    </div>
    <button type="submit" class="btn">Update Player</button>
  </form>
  <br>
  <form class="" action="/players/<%= @player.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn">Delete Player</button>
  </form>
<% else %>
  <h2>Player Not Found</h2>
<% end %>
